<div class="col-10 col-md-6 card-list__card-wrapper">
    <a href="@Model.LinkUrl" class="card card--action rounded py-6 px-6 mt-3">
        <div class="card__image-wrapper mb-2">
            <img src="@(Model.ImageUrl == string.Empty ? "/ResourcePackages/Bootstrap4/assets/images/icon.png" : Model.ImageUrl)" alt="@(Model.ImageAlt == string.Empty ? Model.CardTitle : Model.ImageAlt)" />

        </div>
        <div class="card__content-wrapper">
            <p class="h3 mb-2">@Model.CardTitle</p>
            <p class="mb-5">@Model.CardDescription</p>

            <span class="card__more read-more mt-auto">@Model.CardButtonText</span>
        </div>
    </a>
</div>
