@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving


@*used to get related image*@
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Events.Model;
@using Telerik.Sitefinity.Libraries.Model;




<div class="@Model.CssClass">
    <ul class="list-unstyled">
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

            var contentItem = (item.DataItem as Event);
            var image = contentItem.GetRelatedItems<Image>("Image").ToList();

            <div >
                @if (image.Count() != 0)
                {
                    var selectedimage = image.FirstOrDefault();
                    <img class="card__img js-object-fit" src="@selectedimage.Url" title="@selectedimage.AlternativeText" alt="@selectedimage.AlternativeText" />
                }
                else
                {
                    <img class="card__img js-object-fit" src="/ResourcePackages/dist/images/placeholder.jpg" title="" alt="" />
                }
            </div>



            <li @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                <h3 class="sf-event-title">
                    <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                </h3>
                @*<span data-calendar-color="@item.EventCalendarColour()"></span>*@
                <p class="text-muted">
                    @*@If is on the same line, because otherwise there is an empty space before the comma*@
                    <time>@item.EventDates()</time>@if (!string.IsNullOrEmpty(item.Fields.City))
                    {<span>, @item.Fields.City</span>}
                </p>
         
             


            </li>
        }
    </ul>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
            currentPage = Model.CurrentPage,
            totalPagesCount = Model.TotalPagesCount.Value,
            redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
        })
    }
</div>
