<section class="widget-base @(ViewBag.ExtraWidgetClasses != string.Empty ? ViewBag.ExtraWidgetClasses : "")">
    @RenderSection("BeforeContainer", required: false)
    <div class="container">
        @RenderSection("BeforeTitle", required: false)
        @if (!string.IsNullOrEmpty(ViewBag.WidgetTitle))
        {
            <div class="row @(ViewBag.CenterTitle == true ? "justify-content-center text-center" : "")">
                <div class="col-8">
                    <h2 class="mb-4">@ViewBag.WidgetTitle</h2>
                    @RenderSection("AfterTitle", required: false)
                </div>
            </div>
        }
        @RenderBody()
        @RenderSection("AfterBody", required: false)
    </div>
    @RenderSection("AfterContainer", required: false)
</section>
